In [1]:
#Tratamiento de datos
import pandas as pd
pd.set_option('display.max_columns', None)
#----------

#Exploración de archivos
import sys
sys.path.append('../')
#----------

#Funciones personalizadas
from src import sp_eda as se

In [2]:
df = pd.read_csv('../data/ai_assistant_usage_student_life_inicio.csv')

In [3]:
se.eda_preliminar(df)

,SessionID,StudentLevel,Discipline,SessionDate,SessionLengthMin,TotalPrompts,TaskType,AI_AssistanceLevel,FinalOutcome,UsedAgain,SatisfactionRating
7063,SESSION07064,Undergraduate,Biology,2024-09-19,13.96,5,Writing,5,Idea Drafted,True,4.6
4925,SESSION04926,Graduate,Computer Science,2025-01-24,1.45,1,Studying,5,Assignment Completed,True,4.2
6070,SESSION06071,Graduate,Engineering,2025-01-01,13.02,5,Coding,5,Assignment Completed,True,4.5
5048,SESSION05049,Graduate,Engineering,2025-01-20,20.02,4,Coding,3,Assignment Completed,True,2.9
1446,SESSION01447,High School,Math,2024-12-29,11.30,2,Writing,5,Assignment Completed,True,5.0

--------
DIMENSIONES
Nuestro conjunto de datos presenta un total de 10000 filas y 11 columnas
--------
INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SessionID           10000 non-null  object
 1   StudentLevel        10000 non-null  object
 2   Discipline          10000 non-null  object
 3   SessionDate         10000 non-null  object
 4   SessionLengthMin    10000 non-null  float64
 5   TotalPrompts        10000 non-null  int64
 6   TaskType            10000 non-null  object
 7   AI_AssistanceLevel  10000 non-null  int64
 8   FinalOutcome        10000 non-null  object
 9   UsedAgain           10000 non-null  bool
 10  SatisfactionRating  10000 non-null  float64
dtypes: bool(1), float64(2), int64(2), object(6)
memory usage: 791.1+ KB

None

--------
NULOS

SessionID             0.0
StudentLevel          0.0
Discipline            0.0
SessionDate           0.0
SessionLengthMin      0.0
TotalPrompts          0.0
TaskType              0.0
AI_AssistanceLevel    0.0
FinalOutcome          0.0
UsedAgain             0.0
SatisfactionRating    0.0
dtype: float64

--------
DUPLICADOS
Tenemos un total de 0 duplicados
--------
FRECUENCIAS CATEGÓRICAS
SESSIONID
SessionID
SESSION00001    1
SESSION00002    1
SESSION00003    1
SESSION00004    1
SESSION00005    1
               ..
SESSION09996    1
SESSION09997    1
SESSION09998    1
SESSION09999    1
SESSION10000    1
Name: count, Length: 10000, dtype: int64
--------
STUDENTLEVEL
StudentLevel
Undergraduate    5978
High School      2027
Graduate         1995
Name: count, dtype: int64
--------
DISCIPLINE
Discipline
Biology             1458
Computer Science    1445
Engineering         1430
Math                1422
Psychology          1418
History             1417
Business            1410
Name: count, dtype: int64
--------
SESSIONDATE
SessionDate
2025-01-19    41
2025-06-21    41
2025-04-16    41
2025-04-03    41
2024-08-15    41
              ..
2024-12-22    17
2025-04-02    17
2024-12-30    16
2024-09-24    15
2024-12-28    15
Name: count, Length: 366, dtype: int64
--------
TASKTYPE
TaskType
Writing          3101
Studying         2040
Homework Help    1959
Coding           1948
Brainstorming     476
Research          476
Name: count, dtype: int64
--------
FINALOUTCOME
FinalOutcome
Assignment Completed    4768
Idea Drafted            2866
Confused                1613
Gave Up                  753
Name: count, dtype: int64
--------
--------
ESTADÍSTICAS NUMÉRICAS

,count,mean,std,min,25%,50%,75%,max
SessionLengthMin,10000.0,19.846467,13.897302,0.03,9.63,16.65,26.67,110.81
TotalPrompts,10000.0,5.607500,4.648764,1.00,2.00,4.00,8.00,39.00
AI_AssistanceLevel,10000.0,3.479500,0.991805,1.00,3.00,4.00,4.00,5.00
SatisfactionRating,10000.0,3.417780,1.143331,1.00,2.60,3.50,4.40,5.00